/orientada_objetos/JavaFXApplication2/nbproject/private/
/orientada_objetos/JavaFXApplication2/build/
/orientada_objetos/JavaFXApplication2/dist/
/orientada_objetos/SistemaBancario/build/
/orientada_objetos/SistemaBancario/dist/